
body {
  margin: 0px;
}

ul {
  -webkit-padding-start:0px;
}
.header-bar {
  /* background-color: #D7E8CB;*/
  height: 108px;
  position: absolute;
  z-index: 100;
}

object {
  pointer-events: none;
}

button:hover {
  cursor: pointer;
  cursor: hand;
}

.lower-bar {
  background-color: #0A2209;
  height: 108px;
  margin-bottom:0px;
}

#home-patient-block {
  position: inline-block;
  text-align: center;
  /*background-color: #1F3C1C;*/
  /*height: 404px;*/
  height: 350px;
  width: 34%;
  float: left;
  margin-left: 10%;
  /*margin-right: 5%;*/
  margin-top: 2%;
  border: 0px solid green;
  border-radius: 5px;
  text-decoration: none;
  padding-top: 100px;
}

.home-info {
  background-image: url("../nature.jpg");
  position: relative;
  height: 700px;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  text-align: center;
  font-size: 100px;
  font-family: 'Exo', sans-serif;
  color: white;
  padding-top: 15%;
}

.highlight {
  color: #477200;
}

.button {
  font-size: 40px !important; 
  border: 3px solid #477200 !important;
  border-radius: 15px !important;
  padding: 20px;
  width: 20% !important;
  position: relative !important;
  margin: auto !important;
  color: white !important;
  margin-top: 100px !important;
  text-decoration: none;
}

.button:hover {
  background-color: #477200;
}

.navigation {
  text-align: center;
  color: #1F3C1C;
  height: 900px;
  z-index: 100;
  background-color: #f2f2f2;
  font-size: 80px;
  padding-top: 110px;
  font-family: 'Exo', sans-serif;
}

.icons {
  margin-top: 100px;
  display: inline;
  /*position: relative;*/
  margin: auto;
  /*float: left;*/
  height: 100px;
  width: 100%;
  color: #477200;
}

.patient-button {
  /*border: 1px solid #FFFFFF;*/
  /*border-radius: 35px;*/
  background-color: transparent;
  /* Patient: */
  /* Kind of a hacky solution */
  padding-left: 20px;
  font-family: Cabana-Regular;
  font-size: 35px;
  color: #477200;
  letter-spacing: 11px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  margin-top: 40px;
}

#home-patient-block:hover {
  /*background-color: #477200;
  color: white;*/
  transform: scale(1.05, 1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.7s ease-in-out;
}

#home-guide-block:hover {
/*  background-color: #477200;
  color: white;*/
transform: scale(1.05, 1.05);
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.7s ease-in-out;
}

.guide-button {
  /*margin-top: 100px;*/
  /*border: 1px solid #477200;*/
  /*border-radius: 35px;*/
  background-color: transparent;
  /* Patient: */
  /* Kind of a hacky solution */
  padding-left: 20px;
  font-family: Cabana-Regular;
  font-size: 35px;
  color: #477200;
  letter-spacing: 11px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  margin-top: 40px;
}

#home-guide-block {
  position: inline-block;
  text-align:center;
  /*background-color: #DCDEAF;*/
  height:350px;
  width: 35%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  float: left;
  border-radius: 5px;
  border: 0px solid green;
  text-decoration: none;
  padding-top: 100px;
}

#guide-intro {
  position: relative;
  text-align: center;
  background-color: #DCDEAF;
  height:808px;
}

#patient-intro {
  position: relative;
  text-align: center;
  background-color: #1F3C1C;
  height:808px;
}

.patient-text {
  padding-top: 100px;
  font-family: Cabana-Regular;
  font-size: 35px;
  letter-spacing: 11px;
  color: #FFFFFF;
}

#patient-buttons {
  margin-top: 20px;
  display:inline-block;
}

#patient-buttons > li {
  display:inline-block;
  padding: 35px;
  vertical-align:top;
}

.depression-button {
  border-radius: 100%;
  height: 144px;
  width: 144px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  padding-bottom: 15px;
  font-family: Cabana-Regular;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing:6px;
}

.anxiety-button {
  border-radius: 100%;
  height: 144px;
  width: 144px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  font-family: Cabana-Regular;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing:6px;
}

.depression-selected, .anxiety-selected {
  background-color: #FFFFFF;
  color: #1F3C1C;
}

/* Custom input track */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

progress[value] {
  margin-top: 30px;
  border-radius: 25px;
  overflow: hidden;
  width:350px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #FFFFFF;
}

progress[value]::-webkit-progress-bar {
  background-color: #FFFFFF;
}

progress[value]::-webkit-progress-value {
  border-radius: 25px;
  background-color: #9BDFAE;
}

