
body {
  margin: 0px;
}


ul {
  -webkit-padding-start:0px;
}
.header-bar {
  background-color: #D7E8CB;
  height: 108px;
}

object {
  pointer-events: none;
}

button:hover {
  cursor: pointer;
  cursor: hand;
}

.lower-bar {
  background-color: #061405;
  height: 108px;
}

#home-patient-block {
  position: relative;
  text-align:center;
  background-color: #1F3C1C;
  height: 404px;
}

.patient-button {
  margin-top: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  background-color: transparent;
  /* Patient: */
  /* Kind of a hacky solution */
  padding-left: 20px;
  font-family: Cabana-Regular;
  font-size: 35px;
  color: #FFFFFF;
  letter-spacing: 11px;
}

.guide-button {
  margin-top: 100px;
  border: 1px solid #477200;
  border-radius: 35px;
  background-color: transparent;
  /* Patient: */
  /* Kind of a hacky solution */
  padding-left: 20px;
  font-family: Cabana-Regular;
  font-size: 35px;
  color: #477200;
  letter-spacing: 11px;
}

#home-guide-block {
  position: relative;
  text-align:center;
  background-color: #DCDEAF;
  height:404px;
}

#guide-intro {
  position: relative;
  text-align: center;
  background-color: #DCDEAF;
  height:808px;
}

#patient-intro {
  position: relative;
  text-align: center;
  background-color: #1F3C1C;
  height:808px;
}

.patient-text {
  padding-top: 100px;
  font-family: Cabana-Regular;
  font-size: 35px;
  letter-spacing: 11px;
  color: #FFFFFF;
}

#patient-buttons {
  margin-top: 20px;
  display:inline-block;
}

#patient-buttons > li {
  display:inline-block;
  padding: 35px;
  vertical-align:top;
}

#depression-button {
  border-radius: 100%;
  height: 144px;
  width: 144px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  padding-bottom: 15px;
  font-family: Cabana-Regular;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing:6px;
}

.button-selected {
  background-color: #FFFFFF;
  color: #1F3C1C;
}

#anxiety-button {
  border-radius: 100%;
  height: 144px;
  width: 144px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding-left: 10px;
  font-family: Cabana-Regular;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing:6px;
}

/* Custom input track */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Input track custom attributes here */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      margin-top: 30px;
      border-radius: 25px;
      overflow: hidden;
      width:350px;
      -webkit-appearance: none;
      background-color: #FFFFFF;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 30px;
      -webkit-appearance: none;
      color: #9BDFAE;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 30px;
      -webkit-appearance: none;
      height: 30px;
      border-radius:100%;

      cursor: ew-resize;
      background: #9BDFAE;
      box-shadow: -350px 0 0 335px #9BDFAE;
    }

}



