  <div class='header-bar'>
    <a ui-sref='home'>
      <object id='virtulheal-logo' data='img/virtuhealbanner.svg' type='image/svg+xml'></object>
    </a>
  </div>

<!-- Guide Page -->
<div id='guide-intro'>
	<div class="guide">You will be matched up with someone who needs your help. As a Virtuheal Guide, please try to be encouraging, helpful and respectful.<br /> <br />Thank you for volunteering your time!</div>
<div>
  <button class='guide-button start-button' ng-click='enterTherapy()'>PAIR UP</button>
 </div>
</div>

<div class='lower-bar'>
  <div class="license">VirtuHeal MIT License ArchHacks 2016 <div>Jarrek Holmes, John Li, Rajat Mehndiratta, Rebecca Qian</div> </div>
</div>
