  <div class='header-bar'>
    <a ui-sref='home'>
      <object id='virtulheal-logo' data='img/virtuhealbanner.svg' type='image/svg+xml'></object>
    </a>
  </div>

<div class="home-info">
	<div> Healing minds through <div class="highlight">virtual reality therapy</div> </div>
	<a ui-sref='navigation' class="button">Get Started</a>
</div>

<div class='lower-bar'>
  <div class="license">VirtuHeal MIT License ArchHacks 2016 <div>Jarrek Holmes, John Li, Rajat Mehndiratta, Rebecca Qian</div> </div>
</div>