  <div class='header-bar'>
    <a ui-sref='home'>
      <object id='virtulheal-logo' data='img/virtuhealbanner.svg' type='image/svg+xml'></object>
    </a>
  </div>

<div class="navigation">
	<div id="navtitle"> I would like to...</div>
<!-- Home Screen -->
<a id='home-patient-block' ui-sref='patient'>
  <div class="icons"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></div>
  <div class='patient-button'>get help</div>
</a>
<a id='home-guide-block' ui-sref='guide'>
  <div class="icons"><i class="fa fa-handshake-o fa-lg" aria-hidden="true"></i></div>
  <div class='guide-button'>help others</div>
</a>
</div>

<div class='lower-bar'>
</div>