<!-- Patient Page -->
<div id='patient-intro'>
  <div class='patient-text'>
    What would you like help with?
  </div>
  <ul id='patient-buttons'>
    <li><button class='depression-button' ng-class="{'depression-selected':depression}" ng-click='toggleDepression()'>No Motivation</button></li>
    <li><button class='anxiety-button' ng-class="{'anxiety-selected':anxiety}" ng-click='toggleAnxiety()'>Stress</button></li>
  </ul>
  <div class='patient-text' style='padding-top:10px'>
    Intensity
  </div>
  <input type='range' min='0' max='25' value='0'>
  <br>
  <button class='patient-button'>Start</button>
</div>
