<!-- Patient Page -->
  <div class='header-bar'>
    <a ui-sref='home'>
      <object id='virtulheal-logo' data='img/virtuhealbanner.svg' type='image/svg+xml'></object>
    </a>
  </div>

<!-- Therapy Ball, Dogs on Ice, -->
<div id='patient-intro'>
  <div class='patient-text'>
    I feel...
  </div>
  <ul id='patient-buttons'>
      <li><button class='angry-button' ng-class="{'angry-selected':selected === 'angry'}" ng-click='toggleButton("angry")'>Angry</button></li>
    <li><button class='depression-button' ng-class="{'depression-selected':selected === 'depression'}" ng-click='toggleButton("depression")'>Unmotivated</button></li>
    <li><button class='anxiety-button' ng-class="{'anxiety-selected':selected === 'anxiety'}" ng-click='toggleButton("anxiety")'>Stressed</button></li>
    <li><button class='lonely-button' ng-class="{'lonely-selected':selected === 'lonely'}" ng-click='toggleButton("lonely")'>Lonely</button></li>
  </ul>
  <div class='patient-text' style='padding-top:10px'>
    Intensity
  </div>
  <!-- Instead, just display an intensity value for each scenario.-->
  <progress min='0' max='4' ng-value='intensity'></progress>
  <br>
  <button class='patient-button'>Start</button>
</div>

<div class='lower-bar'>
</div>
